env/
__pycache__/
driver/uploads
.env
usage/output/
ase2024-dataset/
syntactic-comparator/*.json
syntactic-comparator/*.emf
syntactic-comparator/*.ecore
syntactic-comparator/src/main/java/org
syntactic-comparator/output

semantic-comparator/*.json
semantic-comparator/*.emf
semantic-comparator/*.ecore
semantic-comparator/app/*.bin.*

user-interface/evaluate_travis/*
docs/provider
