env/
__pycache__/
driver/uploads
.env
usage/output/
ase2024-dataset/
*.json
*.emf
*.ecore
semantic-comparator/app/*.bin.*
semantic-comparator/app/archive
syntactic-comparator/src/main/java/org
syntactic-comparator/output
docs/provider